

<h2>My heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>

</ul>
<!-- 
<div>
    <label for="name"> Heroe name: </label>
    <input id="name" [(ngModel)]="heroes.name" placeholder="name">
</div>

<h2>{{heroes.name | uppercase}}  Details</h2>


<div><span>id : {{heroes.id}}</span></div>
<div><span>name : {{heroes.name}}</span></div> -->
